resources/tools/sbl/sbl_converter/sbl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="2.1">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/> 

  <xs:element name="paragraph" >
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0" >
        <xs:element name="em" type="xs:token" />
        <xs:element name="s" type="xs:token" />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="book">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:element name="paragraph" maxOccurs="unbounded" minOccurs="0" />
        <xs:element name="abstract" maxOccurs="1" minOccurs="0" />
        <xs:element name="summary" maxOccurs="1" minOccurs="0" />
        <xs:element name="foreword">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title">
                <xs:complexType mixed="true">
                  <xs:choice maxOccurs="unbounded" minOccurs="0" >
                    <xs:element name="em" type="xs:token" />
                    <xs:element name="s" type="xs:token" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="paragraph" maxOccurs="unbounded" minOccurs="0" />
              <xs:element type="xs:string" name="writer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fso" maxOccurs="3" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="display_date"/>
              <xs:element name="title">
                <xs:complexType mixed="true">
                  <xs:choice maxOccurs="unbounded" minOccurs="0" >
                    <xs:element name="em" type="xs:token" />
                    <xs:element name="s" type="xs:token" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="fso_subtitle" maxOccurs="1" minOccurs="0" />
              <xs:element name="paragraph" maxOccurs="unbounded" minOccurs="1"/>
              <xs:element type="xs:string" name="writer"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="no"/>
            <xs:attribute type="xs:int" name="date"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="lesson" maxOccurs="14" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="lesson_header"/>
              <xs:element type="xs:string" name="sabbath"/>
              <xs:element name="title">
                <xs:complexType mixed="true">
                  <xs:choice maxOccurs="unbounded" minOccurs="0" >
                    <xs:element name="em" type="xs:token" />
                    <xs:element name="s" type="xs:token" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="key_text"/>
              <xs:element name="key_note">
                <xs:complexType mixed="true">
                  <xs:choice maxOccurs="unbounded" minOccurs="0" >
                    <xs:element name="em" type="xs:token" />
                    <xs:element name="s" type="xs:token" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="readings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="reading_lable"/>
                    <xs:element type="xs:string" name="reading" maxOccurs="unbounded" minOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="day_lesson" maxOccurs="6" minOccurs="6">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="day"/>
                    <xs:element type="xs:string" name="date"/>
                    <xs:element name="subtitle">
                      <xs:complexType mixed="true">
                        <xs:choice maxOccurs="unbounded" minOccurs="0" >
                          <xs:element name="em" type="xs:token" />
                          <xs:element name="s" type="xs:token" />
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="questions" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="question">
                            <xs:complexType mixed="true">
                              <xs:choice maxOccurs="unbounded" minOccurs="0" >
                                <xs:element name="em" type="xs:token" />
                                <xs:element name="s" type="xs:token" />
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="sub_question" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:choice maxOccurs="unbounded" minOccurs="0" >
                                <xs:element name="em" type="xs:token" />
                                <xs:element name="s" type="xs:token" />
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ref_parag" maxOccurs="unbounded" minOccurs="0" >
                            <xs:complexType mixed="true">
                              <xs:choice maxOccurs="unbounded" minOccurs="0" >
                                <xs:element name="em" type="xs:token" />
                                <xs:element name="s" type="xs:token" />
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="no"/>
                  <xs:attribute type="xs:int" name="date"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="paragraph" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="no"/>
            <xs:attribute type="xs:int" name="date"/>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute type="xs:string" name="title"/>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute type="xs:short" name="year"/>
      <xs:attribute type="xs:byte" name="quarter"/>
      <xs:attribute type="xs:string" name="annotations"/>
      <xs:attribute type="xs:string" name="role"/>
      <xs:attribute type="xs:string" name="updated"/>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>